:root {
    --color-lightPink: hsl(275, 100%, 97%);
    --color-greyPurple: hsl(292, 16%, 49%);
    --color-darkPurple: hsl(292, 42%, 14%);
}


* {
    padding: 0;
    margin: 0;
}

html {
    display: grid;
    place-items: center;
    height: 100vh;
    background: url(assets/images/background-pattern-desktop.svg);
    background-color: var(--color-lightPink);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Work Sans', sans-serif;

    @media (max-width: 700px) {
        background-size: 230%;
    }
}

.cadre {
    background: white;
    padding: 2.5em 2.5em 1em;
    border-radius: 18px;
    max-width: 32.5em;
    box-shadow: 0 1em 100px hsla(0, 0%, 0%, 0.1);

    @media (max-width: 700px) {
        margin: min(10em, 13%);
        min-width: 14em;
        padding: 1em 1.5em;
        border-radius: 8px;
    }
}

.cadre img {
    margin-right: 18px;

    @media (max-width: 700px) {
        width: 28px;
    }
}

.cadre h1 {
    display: inline-block;
    font-size: 3.5em;

    @media (max-width: 700px) {
        font-size: 2em;
    }
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    border-top: 1px hsla(0, 0%, 50%, 0.15) solid;
    background: white;
    cursor: pointer;
    padding: 1.2em 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    color: var(--color-darkPurple);
}
.question::after {
    content: url(assets/images/icon-minus.svg);
}

input[type="checkbox"] {
    display: none;
}

body:has(#question1:checked) .reponse #qst1 {
    display: none;
}
body:has(#question1:checked) #un::after {
    content: url(assets/images/icon-plus.svg);
}

body:has(#question2:checked) .reponse #qst2 {
    display: none;
}
body:has(#question2:checked) #deux::after {
    content: url(assets/images/icon-plus.svg);
}

body:has(#question3:checked) .reponse #qst3 {
    display: none;
}
body:has(#question3:checked) #trois::after {
    content: url(assets/images/icon-plus.svg);
}

body:has(#question4:checked) .reponse #qst4 {
    display: none;
}
body:has(#question4:checked) #quatre::after {
    content: url(assets/images/icon-plus.svg);
}

.question:hover {
    color: hsl(281, 87%, 54%);
}
#un {
    margin-top: 0.5em;
    border-top: none;
}

.reponse {
    display: block;
}
.reponse p {
    color: var(--color-greyPurple);
    line-height: 1.5em;
    padding-bottom: 1.5em;

    @media (max-width: 700px) {
        font-size: 0.9em;
    }
}